<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="/styles/output.css">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto mt-8">
        <h1 class="text-blue-800 text-3xl mb-4">Admin Page</h1>
        <form action="/add" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Product Name" required class="block w-full p-2 mb-4 border rounded">
            <input type="number" name="price" placeholder="Product Price" required class="block w-full p-2 mb-4 border rounded">
            <input type="text" name="description" placeholder="Product Description" required class="block w-full p-2 mb-4 border rounded">
            <input type="text" name="category" placeholder="Product Category" required class="block w-full p-2 mb-4 border rounded">
            <label>Image 1</label>
            <input type="file" name="image_1" placeholder="Image 1" required class="block w-full p-2 mb-4 border rounded">
            <label>Image 2</label>
            <input type="file" name="image_2" placeholder="Image 2" required class="block w-full p-2 mb-4 border rounded">
            <label>Image 3</label>
            <input type="file" name="image_3" placeholder="Image 3" required class="block w-full p-2 mb-4 border rounded">

            <button type="submit" class="bg-blue-600 text-white p-2 rounded">Add Product</button>
        </form>
        <ul id="productsList" class="mt-8">
            <% products.forEach(product => { %>
                <li class="border-b py-2">
                    <h2 class="text-xl"><%= product.name %></h2>
                    <p class="text-gray-500">Price: ₹<%= product.price %></p>
                    <p class="text-gray-500"><%= product.description %></p>
                    <small>Category: <%= product.category %></small>
                    <small>Date: <%= product.date %></small>
                    <form action="/edit/<%= product.id %>" method="get" class="inline">
                        <button type="submit" class="delete bg-red-600 text-white p-2 rounded">Edit</button>
                    </form>
                    <form action="/delete/<%= product.id %>" method="POST" class="inline">
                        <button type="submit" class="delete bg-red-600 text-white p-2 rounded">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
